@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #413c3cd6;

  color: #fff;
  font-family: "Inter", sans-serif;
  --primary-color: #1c985e;
  --text-color: #ddd;
}

/* 
.navbar {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  font-size: 0.8rem;
} */

/* .navbar-item {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease-in-out;
} */

.back {
  position: relative;
  margin-left: 2rem;
}

.back a {
  text-decoration: none;
  position: absolute;
  padding: 1.5rem 3rem;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}

.back a:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

.card-section {
  background: linear-gradient(0deg, rgba(8, 8, 8, 0.073), rgba(8, 8, 8, 0.073));
  padding-bottom: 2rem;
}

.card-container {
  width: 85%;
  margin: 2rem auto 0 auto;
}

.navbar-item .nav-card-item:hover {
  color: var(--primary-color);
}

.speisekarte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  text-transform: capitalize;
  text-align: center;
  padding: 3rem;
}

.card {
  max-width: 15rem;
  height: fit-content;
  margin: 2rem auto 0 auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  border: 1px solid #303030;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4rem;
}

.speisekarte-title {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
}

.price {
  font-size: 1.1rem;
  color: var(--text-color);
}

@media only screen and (min-width: 600px) {
  .speisekarte {
    flex-direction: row;
    gap: 1rem;
  }

  .card {
    max-width: 16rem;
  }
}

@media only screen and (min-width: 1000px) {
  .title {
    font-size: 3rem;
  }
  .card {
    max-width: 18rem;
  }

  .speisekarte-title {
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }

  .price {
    margin-top: 1.2rem;
  }
}
